doctype html
html
  head
    title Bittu Dance Academy
    block scripts
    block style

  body
    nav#navbar.top
      ul
        div#logo
          img(src="/static/img/logo.png")
          | BDA
        li #[a(href="/") HOME]
        li #[a(href="/") ABOUT]
        li #[a(href="/") SERVICES]
        li #[a(href="/") CLASS INFO]
        li #[a(href="/contact") CONTACT US]
  block content
  footer#footer
    |CopyRight © 2020 Bitt2DanceAcademy.com ||All Rights Are Reserved
